body {
  background-color: rgb(221, 226, 230);
}
.app {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.app__left {
  flex: 0.8;
}
.app__header {
  display: flex;
  width: 80vw;
  margin: 1rem 10vw;
  justify-content: space-between;
}

.app__stats {
  display: flex;
  justify-content: space-evenly;
}
.app__table {
  width: 80vw;
  margin: 1rem 10vw;
}
